@font-face {
  font-family: 'icon-arrow';
  src: url('../../assets/fonts/icon-arrows.woff?ch78ym') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-arrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long:before {
  content: '\e900';
}
.icon-arrow {
  &:before {
    content: '\e901';
  }
  &_btn {
    margin-left: 5px;
  }
  &_down {
    transform: rotateZ(90deg);
  }
}
