<footer class="footer">
  <nav class="footer__nav">
    <div class="footer__container">
      <ul class="footer__nav-list">
        <li><a href="#" class="footer__nav-link">Home</a></li>
        <li><a href="#" class="footer__nav-link">Services</a></li>
        <li><a href="#" class="footer__nav-link">Management</a></li>
        <li><a href="#" class="footer__nav-link">Resources</a></li>
        <li><a href="#" class="footer__nav-link">Contact Us</a></li>
        <li><a href="#" class="footer__nav-link">Client Area</a></li>
        <li><a href="#" class="footer__nav-link">Careers</a></li>
        <li><a href="#" class="footer__nav-link"><img src="assets/images/icon-linkedin.png" alt=""> LinkedIn</a></li>
        <li><a href="#" class="footer__nav-link">T&Cs</a></li>
      </ul>
      <ul class="footer__secondary-list">
        <li><a href="#" class="footer__secondary-link">Trust & Estate Planning</a></li>
        <li><a href="#" class="footer__secondary-link">Tax Advisory Services</a></li>
        <li><a href="#" class="footer__secondary-link">Employment Solutions: UK Businesses</a></li>
        <li><a href="#" class="footer__secondary-link">UK Real Estate Structuring</a></li>
        <li><a href="#" class="footer__secondary-link">Coming to the UK: Businesses & Individuals</a></li>
        <li><a href="#" class="footer__secondary-link">Wealth Structure & Family Office</a></li>
        <li><a href="#" class="footer__secondary-link">Corporate & Fiduciary Services</a></li>
        <li><a href="#" class="footer__secondary-link">Accountancy & Tax Compliance</a></li>
      </ul>
    </div>
  </nav>
  <div class="footer__container">
    <a href="#" class="footer__logo"><img src="assets/images/footer-logo.png" alt=""></a>
    <p class="footer__notes">© Copyright 2015</p>
    <p class="footer__notes">Regulated by: MoJ (Ireland) Number: 761 5235 | FATCA</p>
  </div>
</footer>