<section class="contacts-section">
  <div class="contacts-section__container">
    <h1 class="section-title">Contact Us</h1>
    <p class="contacts-section__text">We’re based in London and have offices in key international financial centres. We
      also partner with outstanding professionals worldwide – so wherever you or your clients are, we can deliver the
      very best knowledge, resources and service. </p>
    <div class="contacts-section__row">
      <div class="contact-block">
        <picture class="contact-block__map">
          <img src="assets/images/contacts-map-1.jpg" alt="">
        </picture>
        <h2 class="contact-block__title">London - UK</h2>
        <address class="contact-block__address">5th Floor<br>86 Jermyn Street<br>St James, London<br>SW1Y 6AW</address>
        <ul class="contact-block__requisites">
          <li>Telephone: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a></li>
          <li>Facsimile: <a href="tel:+4402079307444">+ 44 (0)20 7930 7444</a></li>
          <li>Email: <a href="mailto:london@verfides.net">london@verfides.net</a></li>
        </ul>
      </div>
      <div class="contact-block">
        <picture class="contact-block__map">
          <img src="assets/images/contacts-map-1.jpg" alt="">
        </picture>
        <h2 class="contact-block__title">Dublin - Ireland</h2>
        <address class="contact-block__address">68 Fitzwilliam Square<br>Dublin 2<br>Ireland</address>
        <ul class="contact-block__requisites">
          <li>Telephone: <a href="tel:+35316629310">+ 353 1 662 9310 </a></li>
          <li>Facsimile: <a href="tel:+35316629311 ">+ 353 1 662 9311 </a></li>
          <li>Email: <a href="mailto:dublin@verfides.net">dublin@verfides.net</a></li>
        </ul>
      </div>
      <div class="contact-block">
        <picture class="contact-block__map">
          <img src="assets/images/contacts-map-1.jpg" alt="">
        </picture>
        <h2 class="contact-block__title">Nicosia - Cyprus</h2>
        <address class="contact-block__address">30 Costa Anaxagora<br>Storikon Building<br>1st Floor, Office 102<br>CY -
          2014 Nicosia</address>
        <ul class="contact-block__requisites">
          <li>Telephone: <a href="tel:+35722007885">+357 22 007885</a></li>
          <li>Facsimile: <a href="tel:+35722007886">+357 22 007886</a></li>
          <li>Email: <a href="mailto:london@verfides.net">cyprus@verfides.net</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>