<section class="hero-section">
  <div class="hero-section__background">
    <video playsinline muted autoplay loop>
      <source src="/assets/video/miami-city.mp4" type="video/mp4">
    </video>
    <picture>
      <source srcset="/assets/images/hero-img-1920.jpg" media="(min-width: 768px)">
      <img src="/assets/images/hero-img-768.jpg" alt="">
    </picture>
    <button class="hero-section__btn-control" data-text-pause="Pause" data-text-play="Play" type="button">Pause</button>
  </div>
  <div class="hero-section__container">
    <h1 class="hero-section__section-title section-title section-title_white">Wealth structuring, preservation and protection.</h1>
    <button class="hero-section__btn_scroll-to" data-anchor="#welcome-section" type="button" aria-label="Next screen">
      <span class="hero-section__btn-arrow icon-arrow-long"></span>
    </button>
  </div>
</section>