<figure class="parallax-section">
  <picture class="jarallax-img">
    <source srcset="assets/images/picture-1920.jpg" media="(min-width: 1281px)">
    <source srcset="assets/images/picture-1280.jpg" media="(min-width: 769px)">
    <source srcset="assets/images/picture-768.jpg" media="(min-width: 481px)">
    <img src="assets/images/picture-480.jpg" alt="">
  </picture>
</figure>