<section class="resources-section">
  <div class="resources-section__container">
    <h1 class="section-title">Resources</h1>
    <p class="resources-section__text">We regularly publish technical articles and guides on our website and in
      professional publications on various tax and structuring matters, including updates on developments in UK and
      international tax. Click “See All” below to view our full library. </p>
    <div class="resources-articles">
      <article class="resources-articles__block">
        <a href="#" class="resources-articles__title">Spain: ECJ Rules Inheritance Tax Discriminatory</a>
        <p class="resources-articles__text">The European Court of Justice (ECJ) has ruled that Spain is in breach of
          European Union treaties by imposing a higher rate of gift and inheritance taxes on non-residents.</p>
        <a href="#" class="resources-articles__link">Read More <span class="icon-arrow icon-arrow_btn"></span></a>
      </article>
      <article class="resources-articles__block">
        <a href="#" class="resources-articles__title">UK: Remittance Basis Restricted For Loan Collateral</a>
        <p class="resources-articles__text">HMRC has announced the sudden withdrawal of a concession whereby foreign
          income and gains used as loan collateral were not considered to have been remitted to the UK.</p>
        <a href="#" class="resources-articles__link">Read More <span class="icon-arrow icon-arrow_btn"></span></a>
      </article>
    </div>
    <a href="#" class="btn btn_blue">See All <span class="icon-arrow icon-arrow_btn"></span></a>
    <p class="resources-section__text">Brochures Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="resources-downloads">
      <div class="resources-downloads__block">
        <img src="assets/images/resources-1.jpg" alt="">
        <h2 class="resources-downloads__title">verFides Service Brochure 2015</h2>
        <a href="#" class="resources-downloads__link">Download PDF <span class="icon-arrow icon-arrow_btn icon-arrow_down"></span></a>
      </div>
      <div class="resources-downloads__block">
        <img src="assets/images/resources-1.jpg" alt="">
        <h2 class="resources-downloads__title">verFides Financial Report 2014/15</h2>
        <a href="#" class="resources-downloads__link">Download PDF <span class="icon-arrow icon-arrow_btn icon-arrow_down"></span></a>
      </div>
    </div>
  </div>
</section>