<section class="services-section">
  <div class="services-section__container">
    <h1 class="section-title">Services</h1>
    <div class="services-slider swiper-container">
      <div class="services-slider__wraper swiper-wrapper">
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_one">
            <picture>
              <source srcset="assets/images/icon-services-1.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-1.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Trust & Estate Planning</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_two">
            <picture>
              <source srcset="assets/images/icon-services-2.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-2.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Tax Advisory Services</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_three">
            <picture>
              <source srcset="assets/images/icon-services-3.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-3.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Employment Solutions: UK Businesses</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_four">
            <picture>
              <source srcset="assets/images/icon-services-4.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-4.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">UK Real Estate Structuring</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_five">
            <picture>
              <source srcset="assets/images/icon-services-5.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-5.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Coming to the UK: Businesses & Individuals</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_six">
            <picture>
              <source srcset="assets/images/icon-services-6.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-6.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Wealth Structure & Family Office</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_seven">
            <picture>
              <source srcset="assets/images/icon-services-7.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-7.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Corporate & Fiduciary Services</h2>
        </div>
        <div class="services-slider__slide swiper-slide">
          <div class="services-slider__icon-holder services-slider__icon-holder_eight">
            <picture>
              <source srcset="assets/images/icon-services-8.png 2x" media="(max-width: 767px)">
              <img src="assets/images/icon-services-8.png" alt="">
            </picture>
          </div>
          <h2 class="services-slider__text">Accountancy & Tax Compliance</h2>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <span class="services-slider__btn services-slider__btn_prev icon-arrow"></span>
      <span class="services-slider__btn services-slider__btn_next icon-arrow"></span>
    </div>
  </div>
</section>