<section class="tax-section">
  <picture class="tax-section__background">
    <img src="assets/images/map.png" alt="">
  </picture>
  <div class="tax-section__container">
    <h1 class="section-title section-title_white">Tax at a Glance</h1>
    <h2 class="tax-section__text">View international tax rates with our built-in feature.</h2>
    <a href="#" class="btn btn_white">View Intl Tax Rates <span class="icon-arrow icon-arrow_btn"></span></a>
  </div>
</section>